@{
    ViewBag.Title = "About";
}
<h2>About the project</h2>
<div class="item">
    <div class="about_us">
        <p>
            Front-office complex BankApp, implemented support for new functionality of service packages, which at the moment provided in thesame interface the possibility of selling and servicing both separate products and service packages based on possible system settings.
        </p>
        <p>
            In parallel with this project, the existing functionality of the system for selling banking products received a new opportunity for mass creation and acceptance of contracts, which shortened the service time the client not only in the process of agreeing the transaction, but also at the final stage of its conclusion.
        </p>
        <p>
            For transparent management of the product line, as well as to provide prompt and high-quality customer advice (when selling a package of services or servicing it), the bank needs appropriate software. The settings of the product range and its support should be simple and flexible, as well as a solution for employees of the bank's front office who work with the client to sell and service various packages of services.
        </p>

        <p>
            An example of such software is the BankApp system. Specialists of the developer - SM companies - provided in this product a wide range of possibilities for managing service packages. Being part of the module of the Products of the contractual system, the functionality of the "packages" makes it convenient to combine the products configured in the system into packages. The time required for tuning is minimized due to the thoughtful architecture of the module's structural elements. At the same time, the flexibility of charging and adjusting the accounting model is preserved.
        </p>
    </div>
    <img src="/wwwroot/images/banner4.jpg" alt="Microsoft Azure" class="img-responsive"/>

</div>

<h3>Application made by SM</h3>

