@model IEnumerable<BankApp.Models.Loan>
@{
    ViewBag.Title = "Loans";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Loans</h2>
<br>
<table id="loans" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Loan</th>
            <th>Period</th>
            <th>Procent</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#loans").DataTable({
                ajax: {
                    url: "/api/loans",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "period"
                    },
                    {
                        data: "procent"
                    }
                ]
            });
        });
    </script>
}